<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Urbino</title>
  <!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection" />
	<![endif]-->
   <link rel='stylesheet' type='text/css' href="css/components.css" />
  <link rel='stylesheet' type='text/css' href="css/slidingLabel.css" />
  <link rel='stylesheet' type='text/css' href="css/TabPanel.css" />
  <link rel='stylesheet' type='text/css' href="css/propretiesPanel.css" />
  <link rel='stylesheet' type='text/css' href="css/ElementsPanel.css"  />
  <link rel='stylesheet' type='text/css' href="css/TimePanel.css"  />

  <script type="text/javascript" src="../core/mootools-core-full-compat.js"></script>
  <script type="text/javascript" src="../core/mootools-more-1.4.0.1.js"></script>
  <script type="text/javascript" src="../core/raphael.js"></script>
  <script type="text/javascript" src="js/raphael.util.js"></script>
  <script type="text/javascript" src="js/raphael.pathManager.js"></script>
  <script type="text/javascript" src="js/PropMixin.js"></script>
  <script type="text/javascript" src="js/ElementsMixin.js"></script>
  <script type="text/javascript" src="js/ScrollBar.js"></script>
  <script type="text/javascript" src="js/Panel.js"></script>
  <script type="text/javascript" src="js/TabPanel.js"></script>
  <script type="text/javascript" src="js/SlidingLabel.js"></script>
  <script type="text/javascript" src="js/ColorPicker.js"></script>
  <script type="text/javascript" src="js/CanvasPanel.js"></script>
  <script type="text/javascript" src="js/PropertiesPanel.js"></script>
  <script type="text/javascript" src="js/ToolPanel.js"></script>
  <script type="text/javascript" src="js/ElementsPanel.js"></script>
  <style>
  	
  	body > h2 {
  		
  		margin:10px 20px ;
  	}
  </style>
</head>
 
<body>

	<h2>Tab Panel</h2>
<div class="component active">
	<div id="canvas" ></div>
	<div id="container" class=""></div>
	<script>
//		window.addEvent("domready", function () {
	/*global $,$$,console,Class,Element,typeOf,window,R, Raphael,TabPanel, PropretiesPanel,ElementsPanel*/

	var
	atts ={
        "transform":"T0 0R0 0 0S1 1 0 0",
        "opacity":1,
        "fill":"none",
        "stroke":"none",
        "stroke-width":1,
        "stroke-dasharray":"",
        "stroke-linecap":"butt",
        "stroke-linejoin":"bevel",
        "stroke-miterlimit":1,
        "text-anchor":"start",
        "font-family":'Arial, Helvetica, sans-serif',
        "font-size":18,"font-weight":400, "cursor":"default"},
	canvas = new TabPanel("canvas", {
		width:640,
		height:500,
		tabs:{
			canvas:new CanvasPanel()
			}
	}),
	r = canvas.get("canvas").panel.R,
	rec = r.rect(10,20,200,100).attr(atts).attr({"fill":"#8e4", "stroke-width":16, opacity:0.5});
	
	r.image("http://th07.deviantart.net/fs70/150/f/2011/234/e/b/ebd7e4ec15f2a9e7fac55658c583e03d-d47gf4r.jpg",350,350,150,100).attr(atts);
	r.path("M 50 350 H200V400z").attr(atts).attr({"fill":"#e84"});
	r.text(250,250,"Be Awesome").attr(atts).attr({"fill":"#e48"});
	r.ellipse(150,250,30, 20).attr(atts).attr({"fill":"#e48"});
	r.circle(50,250,30).attr(atts).attr({"fill":"#e48"});
	side = new TabPanel("container", {
		x:840,
		width:300,
		height:500,
		initSelect:"Properties",
		tabs:{
			"Properties": (new PropertiesPanel({imgSrc:"../img"})),
			"Elements":(new ElementsPanel(r, {imgSrc:"../img"}))
		}
	});
	window.fireEvent("element.select", [rec]);
// }
	</script>
</div>

</body>
</html>