<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Urbino</title>
  <!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection" />
	<![endif]-->
  <link rel='stylesheet' type='text/css' href="css/components.css" />
  <link rel='stylesheet' type='text/css' href="css/slidingLabel.css" />
  <link rel='stylesheet' type='text/css' href="css/propretiesPanel.css" />
  <link rel='stylesheet' type='text/css' href="css/editorCanvas.css"  />
  <link rel='stylesheet' type='text/css' href="css/TabPanel.css"  />
  <link rel='stylesheet' type='text/css' href="css/ElementsPanel.css"  />
  <link rel='stylesheet' type='text/css' href="css/TimePanel.css"  />
   
  <script type="text/javascript" src="../core/mootools-core-full-compat.js"></script>
  <script type="text/javascript" src="../core/mootools-more-1.4.0.1.js"></script>
  <script type="text/javascript" src="../core/raphael.js"></script>
  <script type="text/javascript" src="../external/raphael.free_transform.js"></script>
  <script type="text/javascript" src="js/raphael.pathManager.js"></script>
  <script type="text/javascript" src="js/SlidingLabel.js"></script>
  <script type="text/javascript" src="js/ColorPicker.js"></script>
  <script type="text/javascript" src="js/Panel.js"></script>
  <script type="text/javascript" src="js/ScrollBar.js"></script>
  <script type="text/javascript" src="js/TabPanel.js"></script>
  <script type="text/javascript" src="js/PropMixin.js"></script>
  <script type="text/javascript" src="js/ElementsMixin.js"></script>
  <script type="text/javascript" src="js/CanvasPanel.js"></script>
  <script type="text/javascript" src="js/PropertiesPanel.js"></script>
  <script type="text/javascript" src="js/TimePanel.js"></script>
  
  
</head>
 
<body>

<div class="component active">
	<h3>Time Panel</h3>
	
	<div id="canvas"></div>
	<div id="timeholder"></div>
	<div id="pp"></div>
	<script>
	/*global $,Raphael, TimePanel,console */
	
	var c = new CanvasPanel(),
	r = c.R,
	canvas = new TabPanel("canvas", {
		x:0,
		y:0,
		width:1020,
		height:320,
		initSelect:"Canvas",
		tabs:{
			"Canvas":c
			}
	}),
	
		anim = function(prop,val,from,to,r){
			var attr = {};
			r = r || 1;
			attr[prop] = val;
			return Raphael.animation(attr, to).delay(from).repeat(r);
		},
		insertKeyFrame = function(el,prop,val,ms,i){
			el.anims = el.anims||{};
			var ii,del,a,b,temp,p =el.anims[prop] = el.anims[prop] || [];
			//first time insert
			if(p.length===0){
				el.anims[prop][0] = anim(prop,val,0,ms);
				return el.anims[prop][0];
			}
			//index not specified
			if(!i){
				i=0;
				ii=p.length;
				do{
					i++;
				}while(i<ii && p[i-1].ms<ms);
			}
			a = p[i-1];
			if(a.ms===ms){
				a.anim["100"][prop] = val;
				return a;
			}
			if(a.ms<ms){
				b = anim(prop,val,a.ms,ms);
			} else {
				b = anim(prop,val,a.del,ms);
				a.del = ms;
				i--;
			}
			p.splice(i,0,b);
			return b;
		},
		test = function(name,func,n){
			var r=0,res={name:name,total:0,avreg:0,max:0,min:0},s,e,i=0;
			n=n||1;
			
			do {
				s  = new Date();
				func();
				e = new Date();
				r=(e-s);
				res["t_"+i]=(e-s);
				res.max = (res.max).max(r);
				res.min = (res.max).min(r);
				res.total+=r;
				i++;
			} while(i < n);
			res.avreg = (res.total/n).round();
			return res;
		};
		var rect,i,j,jj,x,att,elc = 3,ntimes=1,els=[],step=1000,attr=["x",/*"y","cx","cy","r",*/"width","height"];
		for(var k=0;k<elc;k++){
			rect = r.rect(20,20,100,50);
			rect.id = "rect"+k;
			els.push(rect);
			for(j=0,jj = attr.length;j<jj;j++){
				att=attr[j];
				for(i=0;i<=2;i++){
					x = i*step;
					insertKeyFrame(rect,att,(20+i*130),x);
				}
			}
		}

	timeline = new TabPanel("timeholder", {
		x:0,
		y:280,
		width:1020,
		height:220,
		tabs:{
			"Timeline":new TimePanel(r,{imgSrc:"../img"})
		}
	})
	pp = new TabPanel("pp", {
		x:1020,
		y:0,
		width:280,
		height:500,
		tabs:{
			"Properties":new PropertiesPanel({imgSrc:"../img"})
		}
	})
	
	</script>
</div>

</body>
</html>