<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Urbino</title>
  <!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection" />
	<![endif]-->
  <link rel='stylesheet' type='text/css' href="css/components.css" />
  <link rel='stylesheet' type='text/css' href="css/slidingLabel.css" />
  <link rel='stylesheet' type='text/css' href="css/propretiesPanel.css" />
  <link rel='stylesheet' type='text/css' href="css/editorCanvas.css"  />
  <link rel='stylesheet' type='text/css' href="css/TabPanel.css"  />
  <link rel='stylesheet' type='text/css' href="css/ElementsPanel.css"  />
  <link rel='stylesheet' type='text/css' href="css/TimePanel.css"  />
   
  <script type="text/javascript" src="../core/mootools-core-full-compat.js"></script>
  <script type="text/javascript" src="../core/mootools-more-1.4.0.1.js"></script>
  <script type="text/javascript" src="../core/raphael.js"></script>
  <script type="text/javascript" src="js/raphael.util.js"></script>
  <script type="text/javascript" src="../external/raphael.free_transform.js"></script>
  <script type="text/javascript" src="js/raphael.pathManager.js"></script>
  <script type="text/javascript" src="js/SlidingLabel.js"></script>
  <script type="text/javascript" src="js/ColorPicker.js"></script>
  <script type="text/javascript" src="js/Panel.js"></script>
  <script type="text/javascript" src="js/ScrollBar.js"></script>
  <script type="text/javascript" src="js/TabPanel.js"></script>
  <script type="text/javascript" src="js/PropMixin.js"></script>
  <script type="text/javascript" src="js/ElementsMixin.js"></script>
  <script type="text/javascript" src="js/CanvasPanel.js"></script>
  <script type="text/javascript" src="js/PropertiesPanel.js"></script>
  <script type="text/javascript" src="js/TimePanel.js"></script>
  
</head>
 
<body>

<div class="component active">
	<h3>Time Panel</h3>
	
	<div id="canvas"></div>
	<div id="timeholder"></div>
	<div id="pp"></div>
	<script>
	/*global $,Raphael, TimePanel,console */
	
	var test = function(name,func,n){
			var r=0,res={name:name,total:0,avreg:0,max:0,min:0},s,e,i=0;
			n=n||1;
			
			do {
				s  = new Date();
				func();
				e = new Date();
				r=(e-s);
				res["t_"+i]=(e-s);
				res.max = (res.max).max(r);
				res.min = (res.max).min(r);
				res.total+=r;
				i++;
			} while(i < n);
			res.avreg = (res.total/n).round();
			return res;
		},
		insertAnimSting = function(str){
			//TODO create a method that parses an animation string
			for(i=0;i<=ntimes;i++){
					x = i*step;
					window.fireEvent("keyframe.insert", {el:el, prop:prop, jump:e.alt});
					//(rect,att,(20+i*130),x);
				}
		},
	c = new CanvasPanel(),
	r = c.R,
	canvas = new TabPanel("canvas", {
		x:0,
		y:0,
		width:720,
		height:320,
		initSelect:"Canvas",
		tabs:{
			"Canvas":c
			}
	}),
	timeline = new TabPanel("timeholder", {
		x:0,
		y:280,
		width:1020,
		height:220,
		tabs:{
			"Timeline":new TimePanel({imgSrc:"../img"})
		}
	}),
	pp = new TabPanel("pp", {
		x:720,
		y:0,
		width:300,
		height:300,
		tabs:{
			"Properties":new PropertiesPanel({imgSrc:"../img"})
		}
	});
	
	
	//auto generate
	
	var bool=false,i,j,jj,x,step=1000,el,att,elc = 1,ntimes=3, bb,
	els=["rect", "text"],
	attr=["sx"];
	for(var k=0;k<elc;k++){
		i = k%(els.length);
		bb = {
			x:((Math.random()*50)+50).round(),
			y:((Math.random()*40)+50).round(),
			w:((Math.random()*50)+70).round(),
			h:((Math.random()*10)+50).round()
		};
		
		switch(els[i]){
		case "path":
			el = r.pathManager();
			el.insertSegment(bb.x,bb.y);
			el.insertSegment(bb.x,bb.y+bb.h);
			el.insertSegment(bb.x+bb.w,bb.y+bb.h);
			el.insertSegment(bb.x+bb.w,bb.y);
			el.unplug();
			break;
		case "rect":
			el = r.rect(bb.x,bb.y,bb.w, bb.h);
			break;
		case "image":
			el = r.image("http://www.wowace.com/thumbman/avatars/6/707/300x300/600px-718smiley.svg.png.-m0.png",bb.x,bb.y,bb.w, bb.h);
			break;
		case "text":
			el = r.text(bb.x,bb.y, "Hello World!").attr("font-size","30px");
			break;
		}
		window.fireEvent("element.create",[el.attr("fill","#8e4")]);
		window.fireEvent("element.select", [el]);
		
		//console.log("test init",el.matrix.split());
		for(j=0,jj = attr.length;j<jj;j++){
			for(i=0;i<ntimes;i++){
				x = i*step+250
				bool = !bool;
				att = {};
				att[attr[j]] = ((i*0.3));
				//console.log(att);
				//rot att[attr[j]] = ((i*100));
				//att==="path"?el.attr("path")+" L"+(bb.x+(i*10))+" "+(bb.y+(i*10))
				window.fireEvent("element.update", [att]);
				window.fireEvent("keyframe.insert", {el:el, prop:attr[j], ms:x, jump:true});
			}
		}
	}
	
	window.fireEvent("tool.state", ["select"]);
	//select last
	
	//window.fireEvent("element.select", [el]);
	//dblclick at 10 100
	//window.fireEvent("canvas.dblclick", [{x:10, y:100}]);
	//mousedown at on last element
	
		//console.log("test init",bb);
	//window.fireEvent("canvas.mousedown", [{x:bb.x+10, y:bb.y+10}] );
	//dblclick at on last element
	//window.fireEvent("canvas.dblclick", [{x:bb.x+10, y:bb.y+10}] );
	//window.fireEvent("canvas.mousedown", [{x:bb.x+10, y:bb.y+10}] );
	//window.fireEvent("canvas.unfocus");
	
	//window.fireEvent("canvas.mousedown", [{x:bb.x+10, y:bb.y+10}] );
	</script>
</div>

</body>
</html>