.tool-panel{
	width:100%;
	height:100%;
	padding:5px;
	background: #222;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.tool-panel .tool {
	background: #444;
	color:#CCC;
	text-align:center;
	vertical-align:middle;
	font-size:10px;
	cursor:pointer;
	
	width:30px;
	height:30px;
	margin-bottom:3px;
	
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.tool-panel .tool:hover {
	background: #666;
}
.tool-panel .tool.selected {
	background: #111;
	cursor:default;
}
