.elements-panel{
	position:relative;
	
	width:100%;
	height:100%;
	
	overflow:hidden;
	
	background:#222;
	
	color: #eee;
}
.elements-panel div{
	position:relative;
}
.elements-panel .area-header {
	background:#333;
	height: 20px;
	width:100%;
}

.elements-panel .area-header  svg, .elements-panel .area-header DIV{
	position:absolute;
}

.elements-panel .area-header .vect{
	width:20px;
	height:20px;
}
.elements-panel .vect.moveup{
	right:5px
}
.elements-panel .vect.movedown{
	right:30px
}
.elements-panel .vect.delete{
	right:55px
}

.elements-panel .area-content div{
	position:relative;
	color:#eee;
}
.elements-panel .element{
	background:#444;
	height: auto;
}
.elements-panel .element .color{
	z-index: 1;
}

.elements-panel .element .header {
	height:20px;
	border-top:#333 solid 1px;
}

.elements-panel .element.selected .header{
	background:#555;
}

.elements-panel .element .header .arrow {
	position:absolute;
	width:8px;	
	top:-1px;
	left:17px;
	clip: rect(8px,8px,16px,0px);
}

.elements-panel   .element.expanded  .header .arrow{
	top:7px;
	clip: rect(0px,8px,8px,0px);
}

.elements-panel  .element .header .eye {
	position:absolute;
	border:#555 solid 1px;
	width:18px;
	height:20px;
	top:4px;
	left:33px;
	
	clip: rect(0px,18px,10px,0px);
}
.elements-panel .element.hidden .header .eye {
	top:-7px;
	clip: rect(12px,18px,22px,0px);
}
.elements-panel .element .header .name {
	position:absolute;
	max-width:8px;	
	top:1px;
	left:60px;
}
