.elements-panel{
	position:relative;
	
	width:100%;
	height:100%;
	
	overflow:hidden;
	
	background:#222;
	
	color: #eee;
}

.elements-panel .row{
	background:#333;
	border-bottom:#555 solid 1px;
	position:relative;
	height: 29px;
}
.elements-panel .row:hover{
	background:#333;
}
.elements-panel .row.selected{
	background:#666;
}

.elements-panel .row .eye {
	border:#555 solid 1px;
	
	width:15px;
	height:10px;
	
	position:absolute;
	top:9px;
	left:5px;
}

.elements-panel .row .node {
	position:absolute;
	left:20px;
}

.elements-panel .node .arrow {
	width:8px;
	
	position:absolute;
	top:2px;
	left:10px;
	clip: rect(8px,8px,16px,0px);
}

.elements-panel .node .arrow.expanded{
	top:10px;
	clip: rect(0px,8px,8px,0px);
}
.elements-panel .node .name {
	max-width:8px;
	
	position:absolute;
	top:8px;
	left:20px;
}

.elements-panel .hide {
	display:none;
}

.elements-panel .controls {
	position:absolute;
	bottom: 0px;
	background:#333;
	height: 20px;
	width:100%;
	min-width:220px;
}

.elements-panel .controls svg, .elements-panel .controls DIV{
	position:absolute;
	
	top:0px;
	right:2px;
}
