.prop-panel {
	position:relative;
    padding:10px;
    width:100%;
    height:100%;
	background:#222;

}

.prop-panel input[type=text], .prop-panel input[type=number] {
    width:60px;
}

.prop-panel label{
	text-align:right;
	width:60px;
    margin-right:5px;
    color:#48e;
}

.prop-panel .proprety {
	
	position:relative;
	min-width:60px;
	float:left;
    margin:10px;
    display:none;
}

.prop-panel .proprety.active{
    display:block
}

.prop-panel .proprety[name=x], .prop-panel .proprety[name=y], .prop-panel .proprety[name=cx], .prop-panel .proprety[name=cy] {
   top:20px;
   left:10px;
}