
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
}
.is-sliding {
cursor:url(slider-cursor.svg),url(slider-cursor.gif),w-resize;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
label.sliding-label{
	color:#48e;
	border-bottom:#48e dashed 1px;
	padding-bottom: 1px;
	text-align:right;
}
input.sliding-label {
	color:#48e;
	background-color:transparent;
    border:none;
}
input.sliding-input {
	position:absolute;
	right:15px;
	text-align:right;
	top:2px;
    line-height: 1px;
    font-size: 11px;
	height:11px;
	width:10px;
	
}
span.sufix {
	position:absolute;
	width:15px;
	right:0px;
	top:1px;
	color:#eee;
	font-size: 11px;
}
